@font-face {
  font-family: SW;
  src: url('fonts/SF\ Distant\ Galaxy.ttf')
}

:root {
  --blue: #2E67F8;
  --green: #2FF924;
  --red: #EB212E;
}


body {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  font-family: SW;
  letter-spacing: 2px;
  background-color: black;
}

h5 {
  color: white;
}

ul {
  list-style-type: none;
}

.container {
  display: flex;
  height: 60vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a,
li {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 3px;
}

a:hover,
li:hover {
  color: var(--red);
}

.active {
  color: var(--red)
}

.page_list {
  display: flex;
  justify-content: space-between;
}

.header-logo-img {
  width: 400px;
  height: auto;
}

.header-toggle-img {
  width: 70px;
  height: auto;
  position: absolute;
  right: 5rem;
  cursor: pointer;
  animation-name: spin;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.modal-btn {
  position: inherit;
  top: 25px;
  left: 25px;
  background-color: var(--red);
  border: none;
  border-radius: 50px;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.list-div {
  min-height: 25rem;
  min-width: 30rem;
}


.char-btn {
  background: none;
  text-decoration: none;
  color: white;
  font-size: 15px;
  font-family: inherit;
  border-radius: 20px;
  cursor: pointer;
}

.char-btn:hover {
  color: black;
  background-color: var(--red)
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(182, 182, 182, 0.6);
}

.modal-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: black;
  color: white;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.display-block {
  display: block;
}

.display-none {
  display: none;
}



/* LIGHTMODE */
.lightMode {
  background-color: white;
  color: black;
  height: 100vh;
}

.lightMode .char-btn:hover {
  background-color: var(--green);
  color: white;
}

.lightMode a {
  color: black;
}

.lightMode .modal-btn {
  background-color: var(--green);
  color: black;
}

.lightMode .modal-btn:hover {
  background-color: #1f831a;
}

.lightMode a:hover {
  color: var(--green);
}

.lightMode .modal {
  background: rgba(0, 0, 0, 0.6);
}

.lightMode .modal-main {
  background: white;
  color: black;
}

.lightMode .char-btn {
  color: black;
}

.lightMode h5 {
  color: black;
}

@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}