@font-face {
  font-family: SW;
  src: url('fonts/SF\ Distant\ Galaxy.ttf')
}

:root {
  --blue: #2E67F8;
  --green: #2FF924;
  --red: #EB212E;
}

body {
  padding: 0px;
  margin: 0px;
  font-size: 2rem;
  font-family: SW;
  letter-spacing: 2px;
  background-color: black;
}

a,
li {
  text-decoration: none;
  color: white;
  cursor: pointer;
  margin: 3px;
}

h5 {
  color: white;
}

ul {
  list-style-type: none;
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.container {
  display: flex;
  height: 50%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

a:hover {
  color: var(--red);
}

.page_list_item:hover {
  color: var(--red);
}

.modal-btn:hover {
  color: black;
}

.active {
  color: var(--red)
}


.page_list {
  display: flex;
  justify-content: space-between;
}

.header-logo-img {
  width: 500px;
  height: auto;
}

input[type="text"] {
  width: 15rem;
  height: 1.5rem;
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  font-family: inherit;
}

.header-toggle-img {
  width: 80px;
  height: auto;
  position: absolute;
  right: 5%;
  cursor: pointer;
  animation-name: spin;
  animation-duration: 7s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.modal-btn {
  position: inherit;
  top: 25px;
  left: 25px;
  background-color: red;
  border: none;
  border-radius: 50px;
  color: red;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  font-size: 15px;
  font-family: inherit;
}

.list-div {
  min-height: 25rem;
  min-width: 30rem;
}

.modal-main {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgb(75, 69, 69);
  color: white;
  width: 60%;
  height: 80%;
  border-radius: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* LIGHTMODE */
.lightMode {
  background-color: white;
  color: black;
  height: 100%;
}

.lightMode h5 {
  color: black;
}

.lightMode li {
  color: black;
}

.lightMode a {
  color: black;
}

.lightMode .modal-main {
  background: rgb(124, 138, 120);
  color: black;
}

.lightMode .active {
  color: var(--green);
}

.lightMode a:hover {
  color: var(--green);
}


.lightMode .page_list_item:hover {
  color: var(--green);
}


@keyframes spin {
  from {
    transform: rotate(0deg)
  }

  to {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 500px) {

  .header {
    margin-top: 1rem;
  }

  .header-logo-img {
    width: 200px;
    height: auto;
  }

  .header-toggle-img {
    width: 60px;
  }

  h5 {
    font-size: 1rem;
    text-align: center;
  }

  h2 {
    font-size: 2.5rem;
    text-align: center;
  }

  .modal-main {
    min-width: 90%;
    height: 100%;
  }
}